<div class="row">
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h2><strong><%= resource_name.to_s.humanize %> <%= resource.role %></strong> <small>update account</small></h2>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :name %>
          <div class="input-group col-sm-12"><span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
          <%= f.text_field :name, autofocus: true %>
          </div>
          <%= f.label :email %>
          <div class="input-group col-sm-12"><span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <%= f.email_field :email, class: 'form-control',id: "email"  %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>
          <% if current_user.avatar? %>
            <div class="form-group">
              <br>
              <p>Current avatar</p>
              <%= image_tag( current_user.avatar.profile.url, class: "avatar" ) %>
            </div>
          <% end %>
            <div class="form-group">
              <%= f.label :avatar %>
              <%= f.file_field :avatar %>
              <%= f.hidden_field :avatar_cache %>
            </div>
        </div>
      </div>
      <% unless current_user.provider? %>
      <div class="row">
        <div class="col-sm-12">
          <br>
          <span class="help-block">Leave these fields blank if you don't want to change your password.</span>
          <%= f.label :password %>
          <div class="input-group col-sm-12">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
          <%= f.label :password_confirmation %>
          <div class="input-group col-sm-12">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
    
      <% end %>
      <div><%= f.submit "Update my account", class: 'btn btn-primary' %></div>
    <% end %>
    <br>
    </div><!-- /panel body div -->               
    </div><!-- /panel div -->
    <div class="clearfix"></div>

    <div class="panel panel-default">
      <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <span class="help-block pull-left">Unhappy? We'll be sad to see you go. This action cannot be undone.  </span>
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "You are about to delete your account. Are you sure? " }, method: :delete, class: 'btn btn-danger btn-sm ' %>
            </div>
            <br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><strong>Apply for a verified Profile </strong><small>as a judge</small></h2>
      </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="row">
            <% if current_user.profile.nil? %>
              <%= link_to "Create Public Profile", profile_index_path, method: :post  %>
            <% else %>
              <%= link_to "See Profile", current_user.profile %> 
              Your profile is: <%= current_user.profile.state %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /row div-->
<%= link_to "Back", :back %>