if($('.jcarousel-ul').length) {
  $('.jcarousel-ul').hide();
}
<% if @portfolio.valid? %>
  var portfolio_selector = ".portfolio_" + "<%= @portfolio.id%>";
  $('.js-portfolios').prepend("<%= escape_javascript(render(@portfolio)) %>");
  $(portfolio_selector).effect("highlight", {}, 2000)
  $('.js-portfolios-count').html("<%= @portfolios.count %>")
  $('.js-new-portfolio').html("<%= escape_javascript(render partial: 'form', locals: { portfolio: @new_portfolio }) %>");
  $(".switch").bootstrapSwitch();
  $(".js-new-portfolios-photos").html("<%= escape_javascript(render partial: 'photos/form', locals: { portfolio: @portfolio, photo: @photo }) %>")
  $(".js-new-portfolios-photos").append("<div id='dropzone' class='fade well'><p>Drop files here</p></div>")
<% else %>
  $('.js-new-portfolio').html("<%= escape_javascript(render partial: 'form', locals: { portfolio: @portfolio }) %>");
<% end %>

(function() {
  $('.switch').bootstrapSwitch();
  $('#new_photo').fileupload({
  dropZone: $('#dropzone'),
  dataType: "script",
  add: function(e, data) {
    var file, types;
    types = /(\.|\/)(gif|jpe?g|png)$/i;
    file = data.files[0];
    if (types.test(file.type) || types.test(file.name)) {
      data.context = $(tmpl("template-upload", file));
      $('#new_photo').append(data.context);
      return data.submit();
    } else {
      return alert("" + file.name + " is not a gif, jpeg, or png image file");
    }
  },
  progress: function(e, data) {
    var progress;
    if (data.context) {
      progress = parseInt(data.loaded / data.total * 100, 10);
      return data.context.find('.progress-bar').css('width', progress + '%');
    }
  },
  fail: function(e, data) {
    if (data.context) {
      data.context.find('.progress').attr('class', "progress progress-striped");
    }
    if (data.context) {
      data.context.find('.progress-bar').attr('class', "progress-bar progress-bar-danger");
    }
    alert("" + data.files[0].name + " failed to upload.");
    console.log("Upload failed:");
    return console.log(data);
  },
  done: function(e, data) {
    data.context.text('Upload finished.').delay(2000).fadeOut(2000);
    if (data.context) {
      return data.context.remove();
    }
  }
  });
}(jQuery));
