<ul>
<% @portfolios.each do |portfolio| %>
<div class="media">
<div class="media-heading">
  <div class="avatar">
  <%= image_tag(portfolio.user.avatar.tiny.url) if portfolio.user.avatar? %></div>
  <div class="author"><%= portfolio.user.name %></div>
<div class"date">submitted <%= time_ago_in_words(portfolio.created_at) %>
</div class="portfolio"><%= link_to portfolio.name, portfolio %>
</div>
<div class="media-body">
    <div></div>
    <ul>
      <% portfolio.photos.each do |photo| %>
        <li><%= link_to image_tag(photo.image.thumb.url), [photo.portfolio, photo], {class: "img-thumbnail"}%> </li>
      <% end %>
    </ul>
</div>
</div>
<% end %>
<%= will_paginate @portfolios %>
</ul>
