<ul class="portfolios">
<div class="media-body">
  <% @portfolios.each do |portfolio| %>
  <li>
    <div class="avatar">
    <%= image_tag(portfolio.user.avatar.tiny.url) if portfolio.user.avatar? %>
    </div>
    <div class="name">
      <%= portfolio.user.name %> submitted <%= link_to portfolio.name, portfolio %>
    </div>
    <div class="date">
      <%= time_ago_in_words(portfolio.created_at) %>
    </div>
    <div class="photos row">
      <% portfolio.photos.each do |photo| %>
      <div class="col-sm-3 col-xs-6">
        <%= link_to image_tag(photo.image.thumb.url), [photo.portfolio, photo], {class: "img-thumbnail"}%>
      </div>
      <% end %>
    </div>
  </li>
  <% end %>
</div>
<%= will_paginate @portfolios %>
</ul>
