<h1>Portfolio: <%= @portfolio.name %></h1>
<% if current_user.role == "judge" || current_user.role == "admin" %>
<p><%= @portfolio.needs || "No needs" %></p>
<% end %>
<% unless current_user.role == "judge" || current_user.role == "admin" %>
Hire a professional to review this portfolio
<%= link_to "find professionals", profile_index_path%>
<% else %>
Pinch it!
<% end %>

<div class="panel panel-default">
  <%= render partial: 'photos/form', locals: { portfolio: @portfolio, photo: @photo } %>
   <div id="dropzone" class="fade well">
    <p>Drop files here</p>
   </div>
</div>
<div id="photos">
<%= render @photos || "There are no photos available."%>
</div>
<!-- scripts only for this page -->
<%= render '/photos/scripts' %>
<!-- scripts only for this page -->