<%= form_for job, :url => jobs_path, html: {class: "job-form"} do |f| %>
  <span class="help-block">Credit card required after assign job</span>
  <p>I want <%= f.label :user_id, "Judge" %>
  <%= f.hidden_field :user_id, value: judge.id %>
  <%= judge.name %>
  to review
  <%= f.label :portfolio_id, "my portfolio" %>
  <%= collection_select(:job, :portfolio_id, portfolios, :id, :name, options ={:prompt => "Select a portfolio"}) %>
  for
  <%= f.label :price, formatted_price(@price) %>
  </p>
  <br>
  <%= f.submit "HIRE", class: "btn btn-default" %>
  <% end %>