<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
    <ol class="breadcrumb">
      <li><%= link_to "Job", @job %></li>
      <li class="active"><%= "Reviewing photo #{params[:photo_id]}" %></li>
    </ol>
    <small><%= render partial: 'review', locals: {job: @job} %></small>
    </div>
  </div>
<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Photo
      </div>
        <div class="panel-body">
          <div class="col-sm-12">
             <%= image_tag @photo.image.normal.url, class: "img-responsive", id: "image" %>
          </div>
        </div>
        <div class="panel-footer text-center">
          <% if policy(@pinch).create? %>
          <button id="save">Save</button>
          <% end %>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
      Opinions
      </div>  
      <div class="panel-body">
        <div class="col-sm-12 js-pinch">
           <%= render @pinches %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
$(document).ready(function() {
  var $img = $("#image").imgNotes();
  $img.imgNotes({canEdit: true});
  var $export = $("#save");
  var $img = $("#image").imgNotes();
  var link = "<%= job_pinches_path(@job) %>";
  var photo_id = "<%= @photo.id %>";
  var job_id = "<%= @job.id %>";
  $export.on("click", function() {
    $img.imgNotes({canEdit: false});
    var $notes = $img.imgNotes('export'); 
    
    $img.imgNotes({canEdit: true});
      $notes.forEach(function(item) {
        $.ajax({
          type: "POST",
          url: link,
          data: {'pinch':item, 'photo_id':photo_id, 'job_id':job_id }
        });         
      });
    });
});
</script>

<% @pinches.each do |pinch| %>
<script>
   var $img = $("#image").imgNotes();
   var dot = { 'x':'<%= pinch.x %>', 'y':'<%= pinch.y %>', 'note':'<%= pinch.note %>'  };
  $img.imgNotes('import', [dot]);
</script>
<% end %>

<% content_for :header do %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" media="screen">
<% end %>
