<div class="row">
    <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        The list of jobs hired by me
      </div>
      <div class="panel-body">
        <ul class="panel-jobs">
        <% @portfolios.each do |portfolio| %>
        <% portfolio.jobs.each do |job| %>
          <li>
            <%= link_to "job on portfolio-#{portfolio.name}", job %> by <%= job.user.name %>
          </li>
          <% end %> 
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <% if @job.state == "created" %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Job
      </div>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr><td>You are hiring: </td><td><%= User.find(@job.user_id).name %></td></tr>
          <tr><td>for Portfolio:</td><td><%= Portfolio.find(@job.portfolio_id).name %></td></tr>
          <tr><td>for a rate:</td><td><%= formatted_price(@job.price_cents) %></td></tr>
          <tr><td>job status</td><td> <span class="label label-warning">unassigned</span> No payment has been received</td></tr>
          <tr><td>date of creation</td><td><%= (@job.created_at).strftime('%a %b %d')
           %></td></tr>
        </tbody>
      </table>
    </div>
  <p></p>
  <p></p>
  <hr>
  <div class="row col-sm-12">
      <% if @error %>
      <%= @error %>
      <% end %>
      <%= form_tag hire_path(user_id: @job.user_id) do %>
        <script src="https://checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= current_user.name %>"
          data-amount="<%= @job.price_cents %>"></script>
      <% end %>
  </div>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Job
      </div>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr><td>Judge hired! </td><td><%= User.find(@job.user_id).name %></td></tr>
          <tr><td>for Portfolio</td><td><%= Portfolio.find(@job.portfolio_id).name %></td></tr>
          <tr><td>for a rate</td><td><%= formatted_price(@job.price_cents) %></td></tr>
          <tr><td>job status</td><td><%= render 'states_in_show'%></td></tr>
          <tr><td>date of creation</td><td><%= (@job.created_at).strftime('%a %b %d')
           %></td></tr>
           <tr><td>Pinches</td><td><%= render partial: 'review', locals: {job: @job} %></td></tr>
        </tbody>
      </table>
    </div>
  <% end %>
  </div>

</div>
