<h1><%= @job.user.name %></h1>
<%# @job.user.profile.<category_goes_here>.html_safe %>
<% if @error %>
<%= @error %>
<% end %>
<p>Price: <%= formatted_price(@job.price_cents) %></p>
<%= form_tag hire_path(user_id: @job.user_id) do %>
  <script src="https://checkout.stripe.com/v2/checkout.js"
    class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="<%= current_user.name %>"
    data-amount="<%= @job.price_cents %>"></script>
<% end %>

