<section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1> <%= @user.role %></h1>
        </div>
      </div><! --/row -->
    </div><! --/container -->
  </div><! --/headerwrap -->

  <section id="about" name="about"></section>
  <div id="aboutwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 name">
          <% if @profile.pic? %>
          <%= image_tag(@profile.pic.normal.url , class: "img-responsive") %>
          <% else %>
          <%= image_tag(@profile.pic.default_url) %>
          <% end %>
          <p><%= @user.name %></p>
          <div class="name-label"></div>
        </div><! --/col-lg-4-->
        <div class="col-lg-8 name-desc">
          <h2><%= @profile.title %></h2>
          <div class="name-zig"></div>
          
          <div class="col-md-6">
            <p><%= @profile.bio %></p>
          </div>
          <div class="col-md-6">
            <p><%= @profile.experience %></p>
          </div>
          
        </div><! --/col-lg-8-->
    
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /aboutwrap -->
  
  <! -- ABOUT SEPARATOR -->
  <div class="sep about" data-stellar-background-ratio="0.5"></div>

  <! -- PORTFOLIO SECTION -->
  <section id="portfolio" name="portfolio"></section>
  <div id="portfoliowrap">
    <div class="container">
      <div class="row">
        <h1>SOME OF MY LATEST WORKS</h1>
      </div><! --/row -->
    </div><! --/container -->
  </div><! --/Portfoliowrap -->

  <! -- PORTFOLIO SEPARATOR -->
  <div class="sep portfolio" data-stellar-background-ratio="0.5"></div>





<h1><%= image_tag(@user.avatar.url) if @user.avatar? %>
  <%= @user.name %>
</h1>
<h2>Some cool things go here</h2>

<div>
</div>
<div class="col-sm-12 text-center">
    <a href="#" class="js-show-hide btn btn-default" data-selector="js-hire"><h3> Hire Me Now!</h3></a>
  </div>
<div class="js-hire hide">
  <div class="col-sm-12 text-center">
   <%= render partial: "/jobs/form", locals: {portfolios: @portfolios, job: @job, judges: @judges} %>
 </div>
</div>
<script>
$(".js-show-hide").click(function() {
    var selector = "." + $(this).attr('data-selector');
    if($(selector).is(":visible")) {
      $(selector).removeClass('hide').slideUp();
    }
    else {
      $(selector).hide().removeClass('hide').slideDown();
    }
    return false;
  });
</script>
