<div class="media pinch_<%= pinch.id%>">
  <div class="media-body">
    <div class="pull-right small">
      <%= time_ago_in_words(pinch.created_at) %> 
    </div>
    <p><%= pinch.position %> - <%= pinch.note %></p>
    <p><%= link_to "delete", job_pinch_path(pinch.job, pinch),  method: :delete ,  data: {confirmation: "Are you sure?"} , remote: true %></p>
    <div class="pull-right small"><%= pinch.job.user.name %></div>
  </div>
</div>
