<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-inner">
  <div class="container">
    <div class="navbar-header">
        <%= link_to root_path, class: 'navbar-brand', id: 'logo' do %>
        Pepperpinch
        <% end %>
    </div>
    <nav>
        <ul class="nav navbar-nav navbar-actions navbar-right">
            <% if current_user %>
            <li><div class="user-info"> Hola <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>!</div></li>
             <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
             <% else %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About",  about_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>  
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          
        </ul>
    </nav>
  </div>
  </div>
</header>