<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PepperPinch - witty reviews for enthusiasts">
    <meta name="author" content="pepperpinch">
    <meta name="keyword" content="photo reviews, photography review, photographers, photo portfolios, photo, photos, aspiring photographers, photo reviewing, photography community, commercial photography, editors, photo portfolio">
  <title>PepperPinch - witty reviews for enthusiasts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield(:header) if content_for?(:header) %> 
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar_header' %>
<div class="container-fluid">
  
    <%= yield %>
 
</div>
</body>
</html>
